html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**
* Headers
*/

body {
    font-family: $primary-font;
    font-size: $body-font-size;
    line-height: 1.6;
    overflow-x: hidden;
}

iframe {
    max-width: 100%;
}

h1 {
    @extend .large-heading;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .heading;
}

strong {
    font-weight: $bold;
}


/** Content styles **/

.content-area {
    a {}
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $content-heading-font-size;
    }
    h2 {
        margin: 35px 0;
    }
    h3 {
        margin: 30px 0;
    }
    .subtitle {
        font-size: 18px;
        font-weight: normal;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &+.subtitle {
            margin-top: -30px;
        }
    }
}


/** Tables **/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    td,
    th {
        padding: 23px 25px;
        font-size: 18px;
    }
    th {
        font-size: 24px;
        font-weight: $bold;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}