// Colors 


// Typography
$body-line-height: 26px;
$medium-heading-font-size: 34px;
$medium-heading-font-size-mobile: 20px;
$large-heading-font-size: 40px;
$large-heading-font-size-mobile: 26px;
$content-heading-font-size: 24px;
$body-font-size: 18px;
$bold: 700;
$heavy-bold: 900;
$body-letter-spacing: 0.91px;
$primary-font:
"Lato",
"Helvetica",
Arial,
sans-serif;
// Padding
$menu-padding: 7px 12px;
$column-padding: 0 15px;
$btn-padding: 10px 25px;
$btn-padding-arrow: 16px 40px;
// Shadow 
$standard-box-shadow: 0 0 16px rgba(158, 163, 168, 0.55);

// Breakpoints 
$small: 0;
$medium: 620px;
$medium-up: 621px;
$large: 1048px;
$large-up: 1049px;
$max-page-width: 1280px;